{% extends "layout/layout.html" %}
{% set page_title = "About Us" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="zubuz-breadcrumb">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section zubuz-section-padding">
  <div id="zubuz-counter"></div>
  <div class="container">
    <div class="zubuz-section-title">
      <div class="row">
        <div class="col-lg-7">
          <h2>
            <span class="zubuz-title-animation">
              We make your
              <span class="zubuz-title-icon">
                <img src="assets/images/v1/star2.png" alt="">
              </span>
            </span>
            business stand out
          </h2>
        </div>
        <div class="col-lg-4 offset-lg-1 d-flex align-items-center">
          <p>We work closely with our clients to know their objectives, target audience, unique needs, and practical design solutions.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="zubuz-video-wrap wow fadeInUpX" data-wow-delay="0.1s">
          <img src="assets/images/v1/video-bg.png" alt="">
          <a class="zubuz-video-popup video-init" href="https://www.youtube.com/watch?v=Vx2aLNgGoAE" >
            <img src="assets/images/v1/play-btn.svg" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="zubuz-counter-wrap">
            <div class="zubuz-counter-data">
              <h2 class="zubuz-counter-number"><span data-percentage="15" class="zubuz-counter"></span>+</h2>
              <p>Years of experience</p>
            </div>
            <div class="zubuz-counter-data">
              <h2 class="zubuz-counter-number"><span data-percentage="120" class="zubuz-counter"></span>k</h2>
              <p>Successful projects</p>
            </div>
            <div class="zubuz-counter-data">
              <h2 class="zubuz-counter-number"><span data-percentage="100" class="zubuz-counter"></span>%</h2>
              <p>Client satisfaction rate</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding6">
  <div class="container">
    <div class="zubuz-section-title center title-description">
      <h2>
        <span class="zubuz-title-animation">
          We think our story is
          <span class="zubuz-title-icon">
            <img src="assets/images/v1/star2.png" alt="">
          </span>
        </span> 
        worth sharing with you
      </h2>
      <p>Established in 2008, we began as a small but ambitious team. We understood the importance of creative and tech-savvy solutions to help businesses succeed in the ever-changing digital landscape.</p>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="zubuz-story-thumb wow fadeInUpX" data-wow-delay="0.1s">
          <img src="assets/images/about/story1.png" alt="">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="zubuz-story-thumb wow fadeInUpX" data-wow-delay="0.2s">
          <img src="assets/images/about/story2.png" alt="">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="zubuz-story-thumb wow fadeInUpX" data-wow-delay="0.3s">
          <img src="assets/images/about/story3.png" alt="">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="zubuz-story-thumb wow fadeInUpX" data-wow-delay="0.4s">
          <img src="assets/images/about/story4.png" alt="">
        </div>
      </div>
    </div>

    <div class="zubuz-story-content">
      <div class="row">
        <div class="col-lg-6">
          <h3>Our core vision</h3>
          <p>Empowering businesses to create impactful and visually stunning brand experiences that captivate audiences and drive success in the digital age. </p>
          <p>Our team consists of experienced designers, developers. We have a wide variety of skills and backgrounds, allowing us to tackle projects of all sizes and complexities. We believe in the power of imagination and innovation.</p>
        </div>
        <div class="col-lg-6">
          <h3>Our main mission</h3>
          <p>Our mission is to collaborate with businesses of all sizes, from startups to established brands, to provide innovative and creative design solutions. </p>
          <p>We are committed to creating designs that inspire, connect & our clients in the marketplace. Our focus is on understanding. Our clients' unique needs and delivery designs that not only meet but exceed their expectations.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- End section -->

<div class="zubuz-auto-slider-section">
  <div class="swiper zubuz-auto-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="zubuz-auto-slider-item">
          <h3>Let's create new experiences</h3>
          <img src="assets/images/v1/star3.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="zubuz-auto-slider-item">
          <h3>Let's create new experiences</h3>
          <img src="assets/images/v1/star3.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="zubuz-auto-slider-item">
          <h3>Let's create new experiences</h3>
          <img src="assets/images/v1/star3.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="zubuz-auto-slider-item">
          <h3>Let's create new experiences</h3>
          <img src="assets/images/v1/star3.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="zubuz-auto-slider-item">
          <h3>Let's create new experiences</h3>
          <img src="assets/images/v1/star3.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="zubuz-auto-slider-item">
          <h3>Let's create new experiences</h3>
          <img src="assets/images/v1/star3.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="zubuz-auto-slider-item">
          <h3>Let's create new experiences</h3>
          <img src="assets/images/v1/star3.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="zubuz-auto-slider-item">
          <h3>Let's create new experiences</h3>
          <img src="assets/images/v1/star3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding3">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>
        We have a team of  
        <span class="zubuz-title-animation">
          creative people
          <span class="zubuz-title-icon">
            <img src="assets/images/v1/star2.png" alt="">
          </span>
        </span> 
      </h2>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-team-wrap wow fadeInUpX" data-wow-delay="0s">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team1.png" alt="">
            <div class="zubuz-social-icon team-social">
             <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>                     
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>                     
                    </a>
                  </li>
            </ul>
            </div>
          </div>
          <div class="zubuz-team-data">
            <a href="single-team.html"><h3>Andrew Mark</h3></a>
            <p>CEO & Founder</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-team-wrap wow fadeInUpX" data-wow-delay="0.1s">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team2.png" alt="">
            <div class="zubuz-social-icon team-social">
             <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>                     
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>                     
                    </a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="zubuz-team-data">
            <a href="single-team.html"><h3>Jack Taylor</h3></a>
            <p>Senior Designer</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-team-wrap wow fadeInUpX" data-wow-delay="0.2s">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team3.png" alt="">
            <div class="zubuz-social-icon team-social">
             <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>                     
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>                     
                    </a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="zubuz-team-data">
            <a href="single-team.html"><h3>Martine Joy</h3></a>
            <p>Project Manager</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-team-wrap wow fadeInUpX" data-wow-delay="0.3s">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team4.png" alt="">
            <div class="zubuz-social-icon team-social">
             <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>                     
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>                     
                    </a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="zubuz-team-data">
            <a href="single-team.html"><h3>Adam Straw</h3></a>
            <p>Web Developer</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-team-wrap wow fadeInUpX" data-wow-delay="0.4s">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team5.png" alt="">
            <div class="zubuz-social-icon team-social">
             <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>                     
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>                     
                    </a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="zubuz-team-data">
            <a href="single-team.html"><h3>William Jack</h3></a>
            <p>Creative Director</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-team-wrap wow fadeInUpX" data-wow-delay="0.5s">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team6.png" alt="">
            <div class="zubuz-social-icon team-social">
             <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>                     
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>                     
                    </a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="zubuz-team-data">
            <a href="single-team.html"><h3>Alex Tom</h3></a>
            <p>UI/UX Designer</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-team-wrap wow fadeInUpX" data-wow-delay="0.6s">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team7.png" alt="">
            <div class="zubuz-social-icon team-social">
             <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>                     
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>                     
                    </a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="zubuz-team-data">
            <a href="single-team.html"><h3>Robin Lesser</h3></a>
            <p>Chief Executive Officer</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-team-wrap wow fadeInUpX" data-wow-delay="0.7s">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team8.png" alt="">
            <div class="zubuz-social-icon team-social">
             <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>                     
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>                     
                    </a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="zubuz-team-data">
            <a href="single-team.html"><h3>Sheikh David</h3></a>
            <p>HR Director</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->



  {% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
