{% extends "layout/layout.html" %}
{% set page_title = "Career" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="zubuz-breadcrumb">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section zubuz-section-padding3">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>Join our team to shape the future</h2>
    </div>
    <div class="zubuz-jobs-wrap">
      <div class="zubuz-jobs-item">
        <div class="zubuz-jobs-item-content">
          <h3>Product Designer</h3>
          <p>Product design is a holistic concept that has ownership over both UX and UI design.</p>
        </div>
        <div class="zubuz-jobs-item-content">
          <span>Los Angeles, California</span>
          <span>Full-Time, Salary: $20K-$35K</span>
        </div>
        <div class="zubuz-jobs-item-content">
          <div class="zubuz-jobs-apply-btn">
            <a class="zubuz-default-btn" href="single-career.html"><span>Apply now</span></a>
          </div>
        </div>
      </div>
      <div class="zubuz-jobs-item">
        <div class="zubuz-jobs-item-content">
          <h3>Customer Support Specialist</h3>
          <p>Customer support specialists assist customers with inquiries or concerns related our products.</p>
        </div>
        <div class="zubuz-jobs-item-content">
          <span>Brooklyn, New York</span>
          <span>Remote, Salary: $14K-$20K</span>
        </div>
        <div class="zubuz-jobs-item-content">
          <div class="zubuz-jobs-apply-btn">
            <a class="zubuz-default-btn" href="single-career.html"><span>Apply now</span></a>
          </div>
        </div>
      </div>

      <div class="zubuz-jobs-item">
        <div class="zubuz-jobs-item-content">
          <h3>Marketing Specialist</h3>
          <p>Develop comprehensive marketing strategies to drive product awareness and adoption.</p>
        </div>
        <div class="zubuz-jobs-item-content">
          <span>Paris Cedex, France</span>
          <span>Full-Time, Salary: $12K-$18K</span>
        </div>
        <div class="zubuz-jobs-item-content">
          <div class="zubuz-jobs-apply-btn">
            <a class="zubuz-default-btn" href="single-career.html"><span>Apply now</span></a>
          </div>
        </div>
      </div>
      <div class="zubuz-jobs-item">
        <div class="zubuz-jobs-item-content">
          <h3>Full Stack Developer</h3>
          <p>A full-stack developer helps build and maintain both the front-end & the back-end of a website.</p>
        </div>
        <div class="zubuz-jobs-item-content">
          <span>Featherstone Street, UK</span>
          <span>Full-Time, Salary: $24K-$40K</span>
        </div>
        <div class="zubuz-jobs-item-content">
          <div class="zubuz-jobs-apply-btn">
            <a class="zubuz-default-btn" href="single-career.html"><span>Apply now</span></a>
          </div>
        </div>
      </div>
      <div class="zubuz-jobs-item">
        <div class="zubuz-jobs-item-content">
          <h3>General Office Manager</h3>
          <p>Product design is a holistic concept that has ownership over both UX and UI design.</p>
        </div>
        <div class="zubuz-jobs-item-content">
          <span>Los Angeles, California</span>
          <span>Full-Time, Salary: $18K-$26K</span>
        </div>
        <div class="zubuz-jobs-item-content">
          <div class="zubuz-jobs-apply-btn">
            <a class="zubuz-default-btn" href="single-career.html"><span>Apply now</span></a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding2 dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="zubuz-career-thumb">
          <img src="assets/images/v3/thumb-v3-3.png" alt="">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="zubuz-default-content m-left light">
          <h2>Our simple hiring process</h2>
          <div class="zubuz-extara-mt">
            <div class="zubuz-iconbox-wrap-left">
              <div class="zubuz-iconbox-number">
                1
              </div>
              <div class="zubuz-iconbox-data light">
                <span>Application submission</span>
                <p>Submit your detailed application to be considered for the right position you want to join.</p>
              </div>
            </div>
            <div class="zubuz-iconbox-wrap-left">
              <div class="zubuz-iconbox-number">
                2
              </div>
              <div class="zubuz-iconbox-data light">
                <span>Initial screening & assessment</span>
                <p>Our team reviews applications and conducts all the assessments to evaluate qualifications.</p>
              </div>
            </div>
            <div class="zubuz-iconbox-wrap-left">
              <div class="zubuz-iconbox-number">
                3
              </div>
              <div class="zubuz-iconbox-data light">
                <span>Final selection & offer</span>
                <p>The most qualified candidate is selected & receives an offer to join our team directly.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section dark-bg zubuz-section-padding5">
  <div id="zubuz-counter"></div>
  <div class="container">
    <div class="zubuz-counter-wrap2">
      <div class="zubuz-counter-data light">
        <h2 class="zubuz-counter-number"><span data-percentage="99.5" class="zubuz-counter"></span><em>%</em></h2>
        <p>Positive user rating</p>
      </div>
      <div class="zubuz-counter-data light">
        <h2 class="zubuz-counter-number"><span data-percentage="2" class="zubuz-counter"></span><em>K</em></h2>
        <p>Monthly active user</p>
      </div>
      <div class="zubuz-counter-data light">
        <h2 class="zubuz-counter-number"><span data-percentage="100" class="zubuz-counter"></span><em>%</em></h2>
        <p>Uptime in the last year</p>
      </div>
      <div class="zubuz-counter-data light">
        <h2 class="zubuz-counter-number"><span data-percentage="55" class="zubuz-counter"></span><em>+</em></h2>
        <p>Integration with other tools</p>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding3">
  <div class="container">
    <div class="zubuz-section-title zubuz-two-column-title">
      <div class="row">
        <div class="col-lg-7">
            <h2>Advantages of working with us</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
          <p>We embrace creativity & continuous improvement, fostering a culture of innovation. We believe in the power of teamwork and collaboration.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/team/icon1.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Career growth</span>
            <p>Career growth encompasses all the step an employee takes.</p>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/team/icon2.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Remote & friendly</span>
            <p>We allows employees to work outside of the corporate office.</p>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/team/icon3.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Flexible hours</span>
            <p>Having flexible working hours, our employees can start work.</p>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/team/icon4.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Inclusive culture</span>
            <p>Be part of a diverse & inclusive workforce with environment.</p>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/team/icon5.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Medical insurance</span>
            <p>We offer an attractive plan for health insurance for all.</p>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/team/icon6.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Cutting-edge technology</span>
            <p>We work with the latest tools, technologies, and frameworks.</p>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="section zubuz-section-padding dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="zubuz-default-content cta light">
          <h2>Still, you have any questions?</h2>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
          <div class="zubuz-title-btn">
            <a class="zubuz-default-btn" href="">
              <span>Contact Us</span>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
