{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="zubuz-hero-section">
  <div class="container">
    <div class="zubuz-hero-content center">
      <h1>
        Launch your startup's success with SaaS
        <span class="zubuz-title-shape">
          <img src="assets/images/v3/shape-v3-01.png" alt="">
        </span>
      </h1>
      <p>Our SaaS for startup businesses offers a cost-effective, scalable and user-friendly approach to access and use the software tools they need and provides powerful technology solutions.</p>
      <div class="zubuz-extara-mt">
        <div class="zubuz-subscribe-three">
          <form action="#">
            <input type="email" placeholder="Enter your e-mail address">
            <button class="zubuz-default-btn zubuz-subscription-btn three" id="zubuz-subscription-btn" type="submit">
              <span>Get started</span>
            </button>
            <div class="zubuz-input-email">
              <img src="assets/images/icon/email2.svg" alt="">
            </div>
           </form>
        </div>
        <div class="zubuz-icon-list">
          <ul>
            <li><img src="assets/images/v3/check.png" alt=""> No credit card required</li>
            <li><img src="assets/images/v3/check.png" alt=""> 7-day free trial</li>
          </ul>
        </div>
      </div>
   
    </div>
    <div class="zubuz-border-btoom">
      <div class="zubuz-hero-thumb3">
        <img src="assets/images/v3/thumb-v3-01.png" alt="">
        <div class="zubuz-hero-thumb-card1">
          <img src="assets/images/v3/card-v3-1.png" alt="">
        </div>
        <div class="zubuz-hero-thumb-card2">
          <img src="assets/images/v3/card-v3-2.png" alt="">
        </div>
        <div class="zubuz-hero-thumb-card3">
          <img src="assets/images/v3/card-v3-3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding3">
  <div class="container">
    <div class="zubuz-section-title zubuz-two-column-title">
      <div class="row">
        <div class="col-lg-7">
            <h2>Wide range of SaaS solutions</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
          <div class="zubuz-title-btn">
            <a class="zubuz-default-btn pill" href="">
              <span>View all services</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/v3/icon1.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Customer support</span>
            <p>Clients engagement platform that offers tools for ticketing.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/v3/icon2.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Project management</span>
            <p>A project and task management tool that helps plan, organize.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/v3/icon3.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Email marketing</span>
            <p>A widely used email marketing platform with some features.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/v3/icon4.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Human resources</span>
            <p>An all-in-one HR, payroll, and benefits platform designed.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/v3/icon5.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Accounting and finance</span>
            <p>Accounting software that helps with invoicing financial report.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left iconbox-left-border">
          <div class="zubuz-iconbox-icon none-bg">
            <img src="assets/images/v3/icon6.png" alt="">
          </div>
          <div class="zubuz-iconbox-data data-small">
            <span>Cyber Security</span>
            <p>Security platform that provide protection from cyber threat.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="section zubuz-section-padding5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="zubuz-v3-thumb">
          <img src="assets/images/v3/thumb-v3-2.png" alt="">
          <div class="zubuz-v3-card">
            <img src="assets/images/v3/card-v3-4.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="zubuz-default-content m-left">
          <h2>Agility to adapt to market needs</h2>
          <p>Startups often need to bring their products or services to market quickly. Our SaaS applications are readily available and reducing development and deployment time.</p>
          <div class="zubuz-extara-mt">
            <div class="zubuz-iconbox-wrap-left mw-100">
              <div class="zubuz-iconbox-icon none-bg">
                <img src="assets/images/v3/icon7.png" alt="">
              </div>
              <div class="zubuz-iconbox-data data-small">
                <span>Fast implementation:</span>
                <p>Our SaaS solutions can be implemented quickly, often within a few clicks, reducing setup time and allowing startups immediately.</p>
              </div>
            </div>
            <div class="zubuz-iconbox-wrap-left mw-100">
              <div class="zubuz-iconbox-icon none-bg">
                <img src="assets/images/v3/icon8.png" alt="">
              </div>
              <div class="zubuz-iconbox-data data-small">
                <span>Accelerated time-to-market:</span>
                <p>SaaS tools startups can accelerate their product or service launch and stay ahead of the competition and reach customers faster.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding2 dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 order-lg-2">
        <div class="zubuz-v3-thumb2">
          <img src="assets/images/v3/thumb-v3-3.png" alt="">
          <div class="zubuz-v3-card2">
            <img src="assets/images/v3/card-v3-5.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="zubuz-default-content m-right light">
          <h2>Cost-effective & simple process</h2>
          <div class="zubuz-extara-mt">
            <div class="zubuz-iconbox-wrap-left mw-100">
              <div class="zubuz-iconbox-number">
                1
              </div>
              <div class="zubuz-iconbox-data data-small light">
                <span>Subscription-based model:</span>
                <p>Our SaaS operates on a subscription-based payment structure, which allows users to pay for the software on a regular basis.</p>
              </div>
            </div>
            <div class="zubuz-iconbox-wrap-left mw-100">
              <div class="zubuz-iconbox-number">
                2
              </div>
              <div class="zubuz-iconbox-data data-small light">
                <span>Cloud hosting:</span>
                <p>SaaS applications are hosted on cloud servers, eliminating the need for users to manage their own infrastructure costs.</p>
              </div>
            </div>
            <div class="zubuz-iconbox-wrap-left mw-100">
              <div class="zubuz-iconbox-number">
                3
              </div>
              <div class="zubuz-iconbox-data data-small light">
                <span>Automated updates and maintenance:</span>
                <p>Manage software updates, security patches and maintenance so that users always have access to the latest features and secure.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- End section -->

<div class="section dark-bg zubuz-section-padding5">
  <div id="zubuz-counter"></div>
  <div class="container">
    <div class="zubuz-counter-wrap2">
      <div class="zubuz-counter-data light">
        <h2 class="zubuz-counter-number"><span data-percentage="99.5" class="zubuz-counter"></span><em>%</em></h2>
        <p>Positive user rating</p>
      </div>
      <div class="zubuz-counter-data light">
        <h2 class="zubuz-counter-number"><span data-percentage="2" class="zubuz-counter"></span><em>K</em></h2>
        <p>Monthly active user</p>
      </div>
      <div class="zubuz-counter-data light">
        <h2 class="zubuz-counter-number"><span data-percentage="100" class="zubuz-counter"></span><em>%</em></h2>
        <p>Uptime in the last year</p>
      </div>
      <div class="zubuz-counter-data light">
        <h2 class="zubuz-counter-number"><span data-percentage="55" class="zubuz-counter"></span><em>+</em></h2>
        <p>Integration with other tools</p>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding3 bg-light position-relative">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>Rational planning for rapid growth</h2>
    </div>
    <div class="pricing-btn">
      <div class="toggle-btn">
        <label>Monthly </label>
        <input class="form-check-input btn-toggle price-deck-trigger" type="checkbox" id="flexSwitchCheckDefault" data-pricing-trigger data-target="#table-price-value" checked>
        <label>Annually</label>
      </div>
    </div>
    <div class="row zubuz-pricing-four-column" id="table-price-value" data-pricing-dynamic data-value-active="monthly">
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-pricing-wrap">
          <div class="zubuz-pricing-header">
            <h5>Free</h5>
          </div>
          <div class="zubuz-pricing-price">
            <h2>$</h2>
            <h2 class="zubuz-price dynamic-value" data-active="0" data-monthly="0" data-yearly="19"></h2>
            <p class="dynamic-value" data-active="/Monthly" data-monthly="/monthly" data-yearly="/Yearly"></p>
          </div>
          <div class="zubuz-pricing-description">
            <p>This plan is typically limited in features and usage</p>
          </div>
          <div class="zubuz-pricing-body">
            <p>Free plan includes:</p>
            <ul>
              <li><img src="assets/images/v3/check.png" alt="">Basic features</li>
              <li><img src="assets/images/v3/check.png" alt="">Limited users & usage</li>
              <li><img src="assets/images/v3/check.png" alt="">No customer support</li>
              <li><img src="assets/images/v3/check.png" alt="">30 day chat history</li>
              <li><img src="assets/images/v3/check.png" alt="">10 Integrations</li>
            </ul>
          </div>
          <a class="zubuz-pricing-btn" href="">Try it for free</a>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-pricing-wrap">
          <div class="zubuz-pricing-header">
            <h5>Basic</h5>
          </div>
          <div class="zubuz-pricing-price">
            <h2>$</h2>
            <h2 class="zubuz-price dynamic-value" data-active="19" data-monthly="19" data-yearly="39"></h2>
            <p class="dynamic-value" data-active="/Monthly" data-monthly="/monthly" data-yearly="/Yearly"></p>
          </div>
          <div class="zubuz-pricing-description">
            <p>A simple and affordable plan only for small businesses</p>
          </div>
          <div class="zubuz-pricing-body">
            <p>Basic plan includes:</p>
            <ul>
              <li><img src="assets/images/v3/check.png" alt="">Core features</li>
              <li><img src="assets/images/v3/check.png" alt="">Increased limits</li>
              <li><img src="assets/images/v3/check.png" alt="">Priority support</li>
              <li><img src="assets/images/v3/check.png" alt="">Unlimited chat history</li>
              <li><img src="assets/images/v3/check.png" alt="">20 Integrations</li>
            </ul>
          </div>
          <a class="zubuz-pricing-btn" href="">Try it for free</a>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-pricing-wrap active">
          <div class="zubuz-pricing-header">
            <h5>Standard</h5>
          </div>
          <div class="zubuz-pricing-price">
            <h2>$</h2>
            <h2 class="zubuz-price dynamic-value" data-active="29" data-monthly="29" data-yearly="59"></h2>
            <p class="dynamic-value" data-active="/Monthly" data-monthly="/monthly" data-yearly="/Yearly"></p>
          </div>
          <div class="zubuz-pricing-description">
            <p>This plan is geared toward growing businesses</p>
          </div>
          <div class="zubuz-pricing-body">
            <p>Standard plan includes:</p>
            <ul>
              <li><img src="assets/images/v3/check.png" alt="">Expanded features</li>
              <li><img src="assets/images/v3/check.png" alt="">Increased users</li>
              <li><img src="assets/images/v3/check.png" alt="">Priority email support</li>
              <li><img src="assets/images/v3/check.png" alt="">Unlimited chat history</li>
              <li><img src="assets/images/v3/check.png" alt="">30 Integrations</li>
            </ul>
          </div>
          <a class="zubuz-pricing-btn active" href="">Try it for free</a>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="zubuz-pricing-wrap">
          <div class="zubuz-pricing-header">
            <h5>Enterprise</h5>
          </div>
          <div class="zubuz-pricing-price">
            <h2>$</h2>
            <h2 class="zubuz-price dynamic-value" data-active="59" data-monthly="59" data-yearly="99"></h2>
            <p class="dynamic-value" data-active="/Monthly" data-monthly="/monthly" data-yearly="/Yearly"></p>
          </div>
          <div class="zubuz-pricing-description">
            <p>Tailored to the unique needs of large enterprises</p>
          </div>
          <div class="zubuz-pricing-body">
            <p>Enterprise plan includes:</p>
            <ul>
              <li><img src="assets/images/v3/check.png" alt="">Customized features</li>
              <li><img src="assets/images/v3/check.png" alt="">Scalability & security </li>
              <li><img src="assets/images/v3/check.png" alt="">Account manager</li>
              <li><img src="assets/images/v3/check.png" alt="">Unlimited chat history</li>
              <li><img src="assets/images/v3/check.png" alt="">50 Integrations</li>
            </ul>
          </div>
          <a class="zubuz-pricing-btn" href="">Try it for free</a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Section -->

<div class="section zubuz-section-padding bg-light">
  <div class="container">
    <div class="zubuz-section-title zubuz-two-column-title">
      <div class="row">
        <div class="col-lg-8">
            <h2>Integration with dozens of tools</h2>
        </div>
        <div class="col-lg-4 d-flex align-items-center">
          <div class="zubuz-title-btn">
            <a class="zubuz-default-btn pill" href="">
              <span>Browse all integrations</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="zubuz-video-column">
      <div class="row">
        <div class="col-lg-6">
          <div class="zubuz-video-wrap">
            <img src="assets/images/v3/video-bg.png" alt="">
            <a class="video-init zubuz-review-video" href="https://www.youtube.com/watch?v=SixdAQtWJQ8">
              <img src="assets/images/v3/play-btn.png" alt="">
              <div class="waves wave-1"></div>
              <div class="waves wave-2"></div>
              <div class="waves wave-3"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="zubuz-testimonial-content">
            <ul>
              <li><img src="assets/images/v3/star.png" alt=""></li>
              <li><img src="assets/images/v3/star.png" alt=""></li>
              <li><img src="assets/images/v3/star.png" alt=""></li>
              <li><img src="assets/images/v3/star.png" alt=""></li>
              <li><img src="assets/images/v3/star.png" alt=""></li>
            </ul>
            <p>"Our team's productivity grow up after implementing this SaaS tool. The intuitive interface & seamless collaboration features made a significant impact on our workflow. Game-changer for our company efficiency!”</p>
            <div class="zubuz-testimonial-authors-wraps">
              <div class="zubuz-testimonial-authors">
                <p>Jonas Aly</p>
                <span>Founder @ Sitemark</span>
              </div>
              <div class="zubuz-testimonial-author-logo">
                <img src="assets/images/v2/b_v2_5.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- End Section -->

<div class="section zubuz-section-padding3">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>Find all the answers to your confusion</h2>
    </div>
    <div class="zubuz-accordion-wrap zubuz-accordion-wrap2" id="zubuz-accordion">
      <div class="zubuz-accordion-item open">
        <div class="zubuz-accordion-header">
          <p>Q: What makes your SaaS solution stand out from competitors?</p>
          <div class="zubuz-active-icon">
            <img src="assets/images/v3/plus.png" alt="">                 
          </div>
          <div class="zubuz-inactive-icon">
            <img src="assets/images/v3/minus.png" alt="">  
          </div>
        </div>
        <div class="zubuz-accordion-body">
          <p> Our SaaS platform distinguishes itself through a combination of user-friendly design, robust feature set, and a commitment to constant innovation. We prioritize customer feedback to ensure we stay ahead of the curve and meet evolving business needs.</p>
        </div>
      </div>
      <div class="zubuz-accordion-item">
        <div class="zubuz-accordion-header">
          <p>Q: How secure is the data stored on your platform?</p>
          <div class="zubuz-active-icon">
            <img src="assets/images/v3/plus.png" alt="">                 
          </div>
          <div class="zubuz-inactive-icon">
            <img src="assets/images/v3/minus.png" alt="">  
          </div>
        </div>
        <div class="zubuz-accordion-body">
          <p>Security is our top priority. We employ state-of-the-art encryption, regular security audits, and compliance with industry standards to safeguard your data. Our commitment is to provide a secure environment for your valuable information.</p>
        </div>
      </div>

      <div class="zubuz-accordion-item">
        <div class="zubuz-accordion-header">
          <p>Q: Can your SaaS solution integrate with other tools we use?</p>
          <div class="zubuz-active-icon">
            <img src="assets/images/v3/plus.png" alt="">                 
          </div>
          <div class="zubuz-inactive-icon">
            <img src="assets/images/v3/minus.png" alt="">  
          </div>
        </div>
        <div class="zubuz-accordion-body">
          <p>Absolutely. We understand the importance of seamless integration. Our SaaS solution is designed to work harmoniously with a variety of popular tools and platforms, ensuring a smooth workflow and reducing any disruptions to your current processes.</p>
        </div>
      </div>

      <div class="zubuz-accordion-item">
        <div class="zubuz-accordion-header">
          <p>Q: What kind of customer support can we expect?</p>
          <div class="zubuz-active-icon">
            <img src="assets/images/v3/plus.png" alt="">                 
          </div>
          <div class="zubuz-inactive-icon">
            <img src="assets/images/v3/minus.png" alt="">  
          </div>
        </div>
        <div class="zubuz-accordion-body">
          <p>Our customer support team is dedicated to your success. You can expect prompt responses, helpful resources, and, if needed, personalized assistance. We believe in building long-lasting relationships with our users, and exceptional support.</p>
        </div>
      </div>

      <div class="zubuz-accordion-item">
        <div class="zubuz-accordion-header">
          <p>Q: How does your pricing model work, and is there flexibility as our business grows?</p>
          <div class="zubuz-active-icon plus">
            <img src="assets/images/v3/plus.png" alt="">                 
          </div>
          <div class="zubuz-inactive-icon">
            <img src="assets/images/v3/minus.png" alt="">  
          </div>
        </div>
        <div class="zubuz-accordion-body">
          <p>We offer a range of flexible pricing plans to accommodate businesses of all sizes. Whether you're a startup or an enterprise, our pricing scales with your needs. You can choose from monthly or annual billing.</p>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- End Section -->

{% include "../templates/layout/header-footer/footer-three.html" %} 
  
{% endblock %}
