{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="zubuz-hero-section white-bg" style="background-image: url(assets/images/v1/hero-shape1.png)">
  <div class="container">
    <div class="zubuz-hero-content center position-relative">
      <h1>Manage your money better than ever</h1>
      <p>Our finance app is designed to help individuals & businesses manage their financial activities and transactions. It serves various purposes related to personal and business finance.</p>
      <div class="zubuz-hero-btn-wrap center">
        <a class="zubuz-default-btn"href="contact-us.html"> <span>Start Your Free Trial</span> </a>
        <a class="video-init zubuz-hero-video" href="https://www.youtube.com/watch?v=SixdAQtWJQ8">
          <img src="assets/images/v1/play-btn.png" alt="">
          Watch A Demo
        </a>
      </div>
      <div class="zubuz-hero-shape">
        <img src="assets/images/v1/shape.png" alt="">
      </div>
    </div>
    <div class="zubuz-hero-bottom">
      <div class="zubuz-hero-thumb wow fadeInUpX">
        <img src="assets/images/v1/hero-mocup1.png" alt="">
      </div>
      <div class="zubuz-hero-card card1 wow zoomIn">
        <img src="assets/images/v1/h-card1.png" alt="">
      </div>
      <div class="zubuz-hero-card card2 wow zoomIn">
        <img src="assets/images/v1/h-card2.png" alt="">
      </div>
      <div class="zubuz-hero-card card3 wow zoomIn">
        <img src="assets/images/v1/h-card4.png" alt="">
      </div>
      <div class="zubuz-hero-card card4 wow zoomIn">
        <img src="assets/images/v1/h-card3.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section dark-bg zubuz-section-padding4">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="zubuz-brand-logo-content">
          <h3>Over 50,000 people rely on our app for their money choices</h3>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="zubuz-brand-slider">
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_1.png" alt="">
          </div>
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_2.png" alt="">
          </div>
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_3.png" alt="">
          </div>
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_4.png" alt="">
          </div>
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_5.png" alt="">
          </div>
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_6.png" alt="">
          </div>
        </div>
        <div class="zubuz-brand-slider2">
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_1.png" alt="">
          </div>
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_2.png" alt="">
          </div>
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_3.png" alt="">
          </div>
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_4.png" alt="">
          </div>
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_5.png" alt="">
          </div>
          <div class="zubuz-brand-item">
            <img src="assets/images/v1/b_6.png" alt="">
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding2 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="zubuz-thumb thumb-pr">
          <img src="assets/images/v1/mocup01.png" alt="">
          <div class="zubuz-thumb-card">
            <img src="assets/images/v1/card1.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex align-items-center">
        <div class="zubuz-default-content">
          <h2>Easily monitor all financial activitie</h2>
          <p>Users can input their income & expenses, categorize transactions, and view reports and summaries of their spending habits.</p>
          <div class="zubuz-extara-mt">
            <p><span class="font-semibold">Budgeting:</span> It enables effective budgeting and expense tracking, helping you stay on top of your financial goals.</p>
            <p><span class="font-semibold">Expense Tracking:</span> Users can input their income & expenses, categorize transactions, and view reports and summaries of their spending habits.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding5 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 order-lg-2">
        <div class="zubuz-thumb thumb-pl">
          <img src="assets/images/v1/mocup2.png" alt="">
          <div class="zubuz-thumb-card2">
            <img src="assets/images/v1/card2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex align-items-center">
        <div class="zubuz-default-content">
          <h2>Bank account & credit card linked</h2>
          <p>Easily link their bank accounts & credit cards to view account balances, monitor transactions and receive alerts for unusual activity.</p>
          <div class="zubuz-extara-mt">
           <div class="zubuz-iconbox-wrap-left">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/v1/icon1.png" alt="">
            </div>
            <div class="zubuz-iconbox-data">
              <span>Saving & Goal Setting</span>
              <p>Easily set money aside and build your savings for the future plan and track your financial goals.</p>
            </div>
           </div>
           <div class="zubuz-iconbox-wrap-left">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/v1/icon2.png" alt="">
            </div>
            <div class="zubuz-iconbox-data">
              <span>Credit Score Monitoring</span>
              <p>Our finance app provides credit score monitoring to help users monitor their credit health.</p>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding3 light-bg">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>Features to improve your financial life</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap center">
          <div class="zubuz-iconbox-icon">
            <img src="assets/images/v1/icon3.png" alt="">
          </div>
          <div class="zubuz-iconbox-data">
            <h3>Financial Planning</h3>
            <p>Users easily can create & track all types budgets, set financial goals, and plan for their future.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap center">
          <div class="zubuz-iconbox-icon">
            <img src="assets/images/v1/icon4.png" alt="">
          </div>
          <div class="zubuz-iconbox-data">
            <h3>Security Features</h3>
            <p>Security is a crucial aspect of our finance app. Security measures to protect users' financial data.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap center">
          <div class="zubuz-iconbox-icon">
            <img src="assets/images/v1/icon5.png" alt="">
          </div>
          <div class="zubuz-iconbox-data">
            <h3>Tax Preparation</h3>
            <p>Preparing all the filing taxes, and optimizing deductions for ensuring compliance with tax laws.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap center">
          <div class="zubuz-iconbox-icon">
            <img src="assets/images/v1/icon6.png" alt="">
          </div>
          <div class="zubuz-iconbox-data">
            <h3>Offline Access</h3>
            <p>Offline access means you can use essential features and data without an internet connection.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap center">
          <div class="zubuz-iconbox-icon">
            <img src="assets/images/v1/icon7.png" alt="">
          </div>
          <div class="zubuz-iconbox-data">
            <h3>Currency Conversion</h3>
            <p>Al the travelers or international business, our finance app also offer currency conversion tools.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap center">
          <div class="zubuz-iconbox-icon">
            <img src="assets/images/v1/icon8.png" alt="">
          </div>
          <div class="zubuz-iconbox-data">
            <h3>Integration Support</h3>
            <p>The ability to connect with other financial tools accounting software, or payment platforms.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="scetion zubuz-section-padding2 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-lg-2">
        <div class="zubuz-default-content">
          <h2>Suitable app for all levels of users</h2>
          <p>Finance apps are for everyone, from beginners to experts. They help manage money, track expenses, and make financial tasks easier.</p>
          <p>Like budgeting and investment management. These apps are convenient and offer financial insights to help people save and plan for the future.</p>
          <div class="zubuz-extara-mt">
            <a class="zubuz-default-btn" href="contact-us.html">
              <span>Start Your Free Trial</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="zubuz-accordion-wrap" id="zubuz-accordion">
          <div class="zubuz-accordion-item open">
            <div class="zubuz-accordion-header">
              <h3>Sign up for free</h3>
              <div class="zubuz-active-icon">
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.75 2.25L11 11L2.25 2.25" stroke="#111827" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                  
              </div>
            </div>
            <div class="zubuz-accordion-body">
              <p>Start your journey with a 34-day trial. It’s easy no credit card or commitment.</p>
            </div>
          </div>
          <div class="zubuz-accordion-item">
            <div class="zubuz-accordion-header">
              <h3>Make a money plan</h3>
              <div class="zubuz-active-icon">
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.75 2.25L11 11L2.25 2.25" stroke="#111827" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                  
              </div>
            </div>
            <div class="zubuz-accordion-body">
              <p>Add your accounts and expenses, set savings targets, and share your plan.</p>
            </div>
          </div>
          <div class="zubuz-accordion-item">
            <div class="zubuz-accordion-header">
              <h3>Enjoy less stress</h3>
              <div class="zubuz-active-icon">
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.75 2.25L11 11L2.25 2.25" stroke="#111827" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                  
              </div>
            </div>
            <div class="zubuz-accordion-body">
              <p>Start feeling confident, content, and secure in your financial life.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding2 light-bg">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>We've earned a 4.8-star Trustpilot rating</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="zubuz-testimonial-wrap">
          <div class="zubuz-testimonial-rating">
            <ul>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
            </ul>
          </div>
          <div class="zubuz-testimonial-data">
            <h3>Best finance budgeting app ever!</h3>
            <p>"This finance app has been a game-changer for me! It's made budgeting and tracking my expenses so much easier. I love how intuitive and user-friendly it is."</p>
          </div>
          <div class="zubuz-testimonial-author">
            <div class="zubuz-testimonial-author-thumb">
              <img src="assets/images/v1/t_user1.png" alt="">
            </div>
            <div class="zubuz-testimonial-author-data">
              <span>Jonas Aly</span>
              <p>Founder @ Company</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zubuz-testimonial-wrap">
          <div class="zubuz-testimonial-rating">
            <ul>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
            </ul>
          </div>
          <div class="zubuz-testimonial-data">
            <h3>Super helpful to watch my spend</h3>
            <p>"I can't thank this app enough for helping me stay on top of my bills. The bill payment reminders have saved me from late fees, & more organized with my finances."</p>
          </div>
          <div class="zubuz-testimonial-author">
            <div class="zubuz-testimonial-author-thumb">
              <img src="assets/images/v1/t_user2.png" alt="">
            </div>
            <div class="zubuz-testimonial-author-data">
              <span>Mark Bures</span>
              <p>Businessman</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zubuz-testimonial-wrap">
          <div class="zubuz-testimonial-rating">
            <ul>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
            </ul>
          </div>
          <div class="zubuz-testimonial-data">
            <h3>Great app that saves money</h3>
            <p>"The app's integration with my bank accounts is seamless. I can easily check my balances and transactions without having to log in separately."</p>
          </div>
          <div class="zubuz-testimonial-author">
            <div class="zubuz-testimonial-author-thumb">
              <img src="assets/images/v1/t_user3.png" alt="">
            </div>
            <div class="zubuz-testimonial-author-data">
              <span>William Kolas</span>
              <p>Student</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zubuz-testimonial-wrap">
          <div class="zubuz-testimonial-rating">
            <ul>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
            </ul>
          </div>
          <div class="zubuz-testimonial-data">
            <h3>Seriously life changing app!</h3>
            <p>"The financial insights and reports have been eye-opening. I now have a better understanding of my spending habit and can make adjustment to save more."</p>
          </div>
          <div class="zubuz-testimonial-author">
            <div class="zubuz-testimonial-author-thumb">
              <img src="assets/images/v1/t_user4.png" alt="">
            </div>
            <div class="zubuz-testimonial-author-data">
              <span>Andrew Chan</span>
              <p>Manager@ AB Company</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="zubuz-testimonial-btn">
      <a class="zubuz-default-btn" href="testimonials.html">
        <span>View All Reviews</span>
      </a>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="section zubuz-section-padding3 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="zubuz-section-title">
          <h2>Browse our latest news and articles</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6">
        <div class="zubuz-blog-wrap">
          <a href="">
            <div class="zubuz-blog-thumb">
              <img src="assets/images/blog/blog1.png" alt="">
              <div class="zubuz-blog-categorie">
                Business
              </div>
            </div>
          </a>
          <div class="zubuz-blog-data">
            <p>June 18, 2024</p>
            <a href=""><h3>What is a good solution for finance apps?</h3></a>
            <a class="zubuz-blog-btn" href="">
              <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 2.25L24.25 11M24.25 11L15.5 19.75M24.25 11L1.75 11" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>              
            </a>
          </div>
          
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="zubuz-blog-wrap">
          <a href="">
            <div class="zubuz-blog-thumb">
              <img src="assets/images/blog/blog2.png" alt="">
              <div class="zubuz-blog-categorie">
                Technology
              </div>
            </div>
          </a>
          <div class="zubuz-blog-data">
            <p>June 18, 2024</p>
            <a href=""><h3>What makes banking app development ideal?</h3></a>
            <a class="zubuz-blog-btn" href="">
              <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 2.25L24.25 11M24.25 11L15.5 19.75M24.25 11L1.75 11" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>              
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="zubuz-blog-wrap">
          <a href="">
            <div class="zubuz-blog-thumb">
              <img src="assets/images/blog/blog3.png" alt="">
              <div class="zubuz-blog-categorie">
                Management
              </div>
            </div>
          </a>
          <div class="zubuz-blog-data">
            <p>June 18, 2024</p>
            <a href=""><h3>Finance apps that will help you make money!</h3></a>
            <a class="zubuz-blog-btn" href="">
              <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 2.25L24.25 11M24.25 11L15.5 19.75M24.25 11L1.75 11" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>              
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="zubuz-cta-section blue-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-lg-2 d-flex align-items-center">
        <div class="zubuz-default-content light">
          <h2>Start managing your money now!</h2>
          <p>Your financial future is just a download away. Get our app and experience the benefits of better money management.</p>
          <div class="zubuz-extara-mt">
            <div class="zubuz-app-wrap">
              <a class="zubuz-app" href="contact-us.html"><img src="assets/images/v1/play-store.png" alt=""></a>
              <a class="zubuz-app" href="contact-us.html"><img src="assets/images/v1/app-store.png" alt=""></a>
              <div class="zubuz-cta-shape">
                <img src="assets/images/v1/shape2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="zubuz-cta-thumb">
          <img src="assets/images/v1/cta-mocup.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
