{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-two.html" %} 

<div class="zubuz-hero-section2">
  <div class="container">
    <div class="row zubuz_screenfix_right">
      <div class="col-lg-6">
        <div class="zubuz-hero-content">
          <div class="zubuz-hero-rating">
            <ul>
              <li><img src="assets/images/v2/rating.png" alt=""></li>
              <li>4.8/5 on TrustPilot reviews</li>
            </ul>
          </div>
          <h1>Empower your business to the next level</h1>
          <p>Our user-friendly and feature-rich CRM tool enables your organization to increase your sales, manage clients, and close deals more efficiently.</p>
          <div class="zubuz-hero-btn-wrap">
            <a class="zubuz-default-btn pill"href=""> <span>Sign up for free</span> </a>
            <a class="zubuz-login-btn m-0" href="">View all features</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zubuz-hero-thumb2">
          <img src="assets/images/v2/dashboard.png" alt="">
          <div class="zubuz-hero-shape2">
            <img src="assets/images/v2/shape1-v2.png" alt="">
          </div>
          <div class="zubuz-hero-shape3">
            <img src="assets/images/v2/shape2-v2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="zubuz-brand-logo-section">
  <div class="container">
    <div class="zubuz-brand-logo-wrap">
      <p>Trusted by the most innovative companies worldwide</p>
      <div class="zubuz-brand-slider3">
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_1.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_2.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_3.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_4.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_5.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_1.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_2.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_3.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_4.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_5.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_1.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_2.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_3.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_4.png" alt="">
        </div>
        <div class="zubuz-brand-item">
          <img src="assets/images/v2/b_v2_5.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding3">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>Features to improve your financial life</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="zubuz-iconbox-wrap2">
          <div class="zubuz-iconbox-icon">
            <img src="assets/images/v2/icon-v2-3.png" alt="">
          </div>
          <div class="zubuz-iconbox-data">
            <h3>Sales pipeline management:</h3>
            <p>Visualize your sales process, track opportunities, and forecast revenue with pipeline management tools.</p>
            <img src="assets/images/v2/card-v2-1.png" alt="">
          </div>
        </div>
        <div class="zubuz-iconbox-wrap2">
          <div class="zubuz-iconbox-icon">
            <img src="assets/images/v2/icon-v2-2.png" alt="">
          </div>
          <div class="zubuz-iconbox-data">
            <h3>Marketing Automation:</h3>
            <p>Automate marketing campaigns, email outreach, and lead nurturing to engage customers effectively.</p>
            <img src="assets/images/v2/card-v2-3.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zubuz-iconbox-wrap2">
          <div class="zubuz-iconbox-icon">
            <img src="assets/images/v2/icon-v2-2.png" alt="">
          </div>
          <div class="zubuz-iconbox-data">
            <h3>Analytics and reporting:</h3>
            <p>Generate in-depth reports and analytics to make data-driven decisions and measure performance.</p>
            <img src="assets/images/v2/card-v2-2.png" alt="">
          </div>
        </div>
        <div class="zubuz-iconbox-wrap2">
          <div class="zubuz-iconbox-icon">
            <img src="assets/images/v2/icon-v2-4.png" alt="">
          </div>
          <div class="zubuz-iconbox-data">
            <h3>Track customers movement:</h3>
            <p>Monitoring and analyzing client behavior, interactions, and engagement online or offline.</p>
            <img src="assets/images/v2/card-v2-4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="zubuz-testimonial-slider-section zubuz-section-padding2"  style="background-image: url(assets/images/v2/t-bg.png)">
  <div class="container">
    <div class="zubuz-testimonial-slider">
      <div class="zubuz-testimonial-slider-item">
        <div class="zubuz-testimonial-slider-data">
          <div class="zubuz-testimonial-slider-rating">
            <ul>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
            </ul>
          </div>
          <h3> "A Game Changer for Our Business"</h3>
          <p>We've been using this CRM platform for over a year now, and I can't stress enough how transformative it has been for our business. The impact this has had on our customer relations, sales and overall efficiency is tremendous.</p>
        </div>
        <div class="zubuz-testimonial-slider-author">
          <div class="zubuz-testimonial-slider-author-thumb">
            <img src="assets/images/v2/t-user.png" alt="">
          </div>
          <div class="zubuz-testimonial-slider-author-data">
            <span>Jonas Aly</span>
            <p>Founder @ Company</p>
          </div>
        </div>
      </div>
      <div class="zubuz-testimonial-slider-item">
        <div class="zubuz-testimonial-slider-data">
          <div class="zubuz-testimonial-slider-rating">
            <ul>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
            </ul>
          </div>
          <h3> "A Game Changer for Our Business"</h3>
          <p>We've been using this CRM platform for over a year now, and I can't stress enough how transformative it has been for our business. The impact this has had on our customer relations, sales and overall efficiency is tremendous.</p>
        </div>
        <div class="zubuz-testimonial-slider-author">
          <div class="zubuz-testimonial-slider-author-thumb">
            <img src="assets/images/v2/t-user.png" alt="">
          </div>
          <div class="zubuz-testimonial-slider-author-data">
            <span>Jonas Aly</span>
            <p>Founder @ Company</p>
          </div>
        </div>
      </div>
      <div class="zubuz-testimonial-slider-item">
        <div class="zubuz-testimonial-slider-data">
          <div class="zubuz-testimonial-slider-rating">
            <ul>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
              <li><img src="assets/images/v2/rating2.png" alt=""></li>
            </ul>
          </div>
          <h3> "A Game Changer for Our Business"</h3>
          <p>We've been using this CRM platform for over a year now, and I can't stress enough how transformative it has been for our business. The impact this has had on our customer relations, sales and overall efficiency is tremendous.</p>
        </div>
        <div class="zubuz-testimonial-slider-author">
          <div class="zubuz-testimonial-slider-author-thumb">
            <img src="assets/images/v2/t-user.png" alt="">
          </div>
          <div class="zubuz-testimonial-slider-author-data">
            <span>Jonas Aly</span>
            <p>Founder @ Company</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding2">
  <div id="zubuz-counter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="zubuz-v2-thumb thumb-mr">
          <img src="assets/images/v2/thumb-v2-1.png" alt="">
          <div class="zubuz-v2-thumb-shape">
            <img src="assets/images/v2/shape3-v2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="zubuz-default-content">
          <h2>Enables improved customer service</h2>
          <p>CRM software enables better customer service by tracking all customer inquiries, issues, & support requests. Support teams can respond more effectively and promptly, leading to higher customer satisfaction.</p>
          <div class="zubuz-extara-mt">
            <div class="zubuz-counter-wrap">
              <div class="zubuz-counter-data">
                <h2 class="zubuz-counter-number"><span data-percentage="99" class="zubuz-counter"></span>%</h2>
                <p>Customer satisfaction</p>
              </div>
              <div class="zubuz-counter-data">
                <h2 class="zubuz-counter-number"><span data-percentage="3.5" class="zubuz-counter"></span>X</h2>
                <p>Close deals faster</p>
              </div>
         
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End section -->
<div class="section zubuz-section-padding5">
  <div id="zubuz-counter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 order-lg-2">
        <div class="zubuz-v2-thumb thumb-ml">
          <img src="assets/images/v2/thumb-v2-2.png" alt="">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="zubuz-default-content">
          <h2>A single platform to manage leads</h2>
          <p>Our software is designed to meet your specific needs. Offers sales automation, marketing tools, and comprehensive analytics.</p>
          <div class="zubuz-extara-mt">
            <div class="zubuz-iconbox-wrap-left">
             <div class="zubuz-iconbox-icon none-bg">
               <img src="assets/images/v2/check.png" alt="">
             </div>
             <div class="zubuz-iconbox-data">
               <span>Team management</span>
               <p>Our chat or video calls for quick communication with your sales team. Organize daily planning meetings.</p>
             </div>
            </div>
            <div class="zubuz-iconbox-wrap-left">
             <div class="zubuz-iconbox-icon none-bg">
               <img src="assets/images/v2/check.png" alt="">
             </div>
             <div class="zubuz-iconbox-data">
               <span>Online marketing</span>
               <p>Run marketing campaigns within our CRM tools such as email marketing, ad targeting and more.</p>
             </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section zubuz-section-padding3 bg-light position-relative">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>Rational planning for rapid growth</h2>
    </div>
    <div class="pricing-btn">
      <label>Billed monthly</label>
      <div class="toggle-btn">
        <input class="form-check-input btn-toggle price-deck-trigger" type="checkbox" id="flexSwitchCheckDefault" data-pricing-trigger data-target="#table-price-value" checked>
      </div>
      <label>Billed annually</label>
    </div>
    <div class="row" id="table-price-value" data-pricing-dynamic data-value-active="monthly">
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-pricing-wrap">
          <div class="zubuz-pricing-header">
            <h5>Basic</h5>
          </div>
          <div class="zubuz-pricing-price">
            <h2>$</h2>
            <h2 class="zubuz-price dynamic-value" data-active="19" data-monthly="19" data-yearly="39"></h2>
            <p class="dynamic-value" data-active="USD/Billed monthly" data-monthly="USD/Billed monthly" data-yearly="USD/Billed Yearly"></p>
          </div>
          <div class="zubuz-pricing-description">
            <p>Works perfect for small teams</p>
          </div>
          <div class="zubuz-pricing-body">
            <ul>
              <li><img src="assets/images/v2/check2.png" alt="">Live chat widget for website</li>
              <li><img src="assets/images/v2/check2.png" alt="">All basic CRM features</li>
              <li><img src="assets/images/v2/check2.png" alt="">Up to 5,000 contacts</li>
              <li><img src="assets/images/v2/check2.png" alt="">Flow base chatbot</li>
              <li><img src="assets/images/v2/check2.png" alt="">24/7 Email Support</li>
            </ul>
          </div>
          <a class="zubuz-pricing-btn" href="">Select the plan</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-pricing-wrap active">
          <div class="zubuz-pricing-header">
            <h5>Standard</h5>
          </div>
          <div class="zubuz-pricing-price">
            <h2>$</h2>
            <h2 class="zubuz-price dynamic-value" data-active="49" data-monthly="49" data-yearly="69"></h2>
            <p class="dynamic-value" data-active="USD/Billed monthly" data-monthly="USD/Billed monthly" data-yearly="USD/Billed Yearly"></p>
          </div>
          <div class="zubuz-pricing-description">
            <p>Great for small and medium teams</p>
          </div>
          <div class="zubuz-pricing-body">
            <ul>
              <li><img src="assets/images/v2/check2.png" alt="">All multimedia channels</li>
              <li><img src="assets/images/v2/check2.png" alt="">All advanced CRM features</li>
              <li><img src="assets/images/v2/check2.png" alt="">Up to 15,000 contacts</li>
              <li><img src="assets/images/v2/check2.png" alt="">Flow + AI base chatbot</li>
              <li><img src="assets/images/v2/check2.png" alt="">24/7 Support (Live, Email, Chat)</li>
            </ul>
          </div>
          <a class="zubuz-pricing-btn active" href="">Select the plan</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-pricing-wrap">
          <div class="zubuz-pricing-header">
            <h5>Enterprise</h5>
          </div>
          <div class="zubuz-pricing-price">
            <h2>$</h2>
            <h2 class="zubuz-price dynamic-value" data-active="89" data-monthly="89" data-yearly="99"></h2>
            <p class="dynamic-value" data-active="USD/Billed monthly" data-monthly="USD/Billed monthly" data-yearly="USD/Billed Yearly"></p>
          </div>
          <div class="zubuz-pricing-description">
            <p>Great for large teams</p>
          </div>
          <div class="zubuz-pricing-body">
            <ul>
              <li><img src="assets/images/v2/check2.png" alt="">All multimedia channels</li>
              <li><img src="assets/images/v2/check2.png" alt="">All enterprise CRM features</li>
              <li><img src="assets/images/v2/check2.png" alt="">Up to 25,000 contacts</li>
              <li><img src="assets/images/v2/check2.png" alt="">Flow + AI base chatbot</li>
              <li><img src="assets/images/v2/check2.png" alt="">24/7 Support (Live, Email, Chat)</li>
            </ul>
          </div>
          <a class="zubuz-pricing-btn" href="">Select the plan</a>
        </div>
      </div>
 

     
    </div>
  </div>
  <div class="zubuz-pricing-shape">
    <img src="assets/images/v2/shape4-v2.png" alt="">
  </div>
</div>
<!-- End Section -->

<div class="section zubuz-section-padding">
  <div class="container">
    <div class="zubuz-section-title zubuz-two-column-title">
      <div class="row">
        <div class="col-lg-8">
            <h2>Integration with dozens of tools</h2>
        </div>
        <div class="col-lg-4 d-flex align-items-center">
          <div class="zubuz-title-btn">
            <a class="zubuz-default-btn pill" href="">
              <span>Browse all integrations</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="zubuz-tools-wrap">
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools1.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools2.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools3.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools4.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools5.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools6.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools7.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools8.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools9.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools10.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools11.png" alt="">
      </div>
      <div class="zubuz-tools-item">
        <img src="assets/images/v2/tools/tools12.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="zubuz-cta-section2">
  <div class="container">
    <div class="zubuz-cta-wrap" style="background-image: url(assets/images/v2/cta-bg.png)">
      <div class="zubuz-cta-content">
        <h2>Start managing your money now!</h2>
        <div class="zubuz-subscribe-two">
          <form action="#">
            <input type="email" placeholder="Enter your e-mail address">
            <button class="zubuz-default-btn zubuz-subscription-btn two" id="zubuz-subscription-btn" type="submit">
              <span>Get started</span>
            </button>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% include "../templates/layout/header-footer/footer-two.html" %} 
  
{% endblock %}
