{% extends "layout/layout.html" %}
{% set page_title = "Integrations" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="zubuz-breadcrumb">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section zubuz-section-padding3">
  <div class="container">
    <div class="zubuz-section-title center w-large">
      <h2>Built to connect with your favorite tools</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left d-block iconbox-left-border">
          <div class="zubuz-iconbox-header">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/tools/google.png" alt="">
            </div>
            <div class="zubuz-iconbox-header-data">
              <h4>Google</h4>
              <p>Productivity</p>
            </div>
          </div>
          <div class="zubuz-iconbox-data">
            <p>Google offers a comprehensive set of core integration tools to connect & manage the multitude operation.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left d-block iconbox-left-border">
          <div class="zubuz-iconbox-header">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/tools/mailchimp.png" alt="">
            </div>
            <div class="zubuz-iconbox-header-data">
              <h4>Mailchimp</h4>
              <p>CRM</p>
            </div>
          </div>
          <div class="zubuz-iconbox-data">
            <p>Manually connect your website to Mailchimp, or add our code to a website builder, and you can add.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left d-block iconbox-left-border">
          <div class="zubuz-iconbox-header">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/tools/discord.png" alt="">
            </div>
            <div class="zubuz-iconbox-header-data">
              <h4>Discord</h4>
              <p>Social Media</p>
            </div>
          </div>
          <div class="zubuz-iconbox-data">
            <p>Discord integration allows users to send form responses to a shared discord channel.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left d-block iconbox-left-border">
          <div class="zubuz-iconbox-header">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/tools/linkedIn.png" alt="">
            </div>
            <div class="zubuz-iconbox-header-data">
              <h4>LinkedIn</h4>
              <p>Social Media</p>
            </div>
          </div>
          <div class="zubuz-iconbox-data">
            <p>Automatically pull info from Twitter, WordPress, and other apps to post company updates or share a post.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left d-block iconbox-left-border">
          <div class="zubuz-iconbox-header">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/tools/zapier.png" alt="">
            </div>
            <div class="zubuz-iconbox-header-data">
              <h4>Zapier</h4>
              <p>Social Media</p>
            </div>
          </div>
          <div class="zubuz-iconbox-data">
            <p>Zapier is an online automation tool that connects your apps & service. You can connect two or more app.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left d-block iconbox-left-border">
          <div class="zubuz-iconbox-header">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/tools/slack.png" alt="">
            </div>
            <div class="zubuz-iconbox-header-data">
              <h4>Slack</h4>
              <p>CRM</p>
            </div>
          </div>
          <div class="zubuz-iconbox-data">
            <p>Slack integrations are variants of a tool or product that are directly accessible via Slack.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left d-block iconbox-left-border">
          <div class="zubuz-iconbox-header">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/tools/fb.png" alt="">
            </div>
            <div class="zubuz-iconbox-header-data">
              <h4>Facebook</h4>
              <p>Social Media</p>
            </div>
          </div>
          <div class="zubuz-iconbox-data">
            <p>Facebook integration is connection between and a Facebook app or product and another external app.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left d-block iconbox-left-border">
          <div class="zubuz-iconbox-header">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/tools/twitter.png" alt="">
            </div>
            <div class="zubuz-iconbox-header-data">
              <h4>Twitter</h4>
              <p>Social Media</p>
            </div>
          </div>
          <div class="zubuz-iconbox-data">
            <p>Twitter allows access to part of our service via APIs to allow people to build software that integrate.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-iconbox-wrap-left d-block iconbox-left-border">
          <div class="zubuz-iconbox-header">
            <div class="zubuz-iconbox-icon">
              <img src="assets/images/tools/youtube.png" alt="">
            </div>
            <div class="zubuz-iconbox-header-data">
              <h4>Youtube</h4>
              <p>Streaming</p>
            </div>
          </div>
          <div class="zubuz-iconbox-data">
            <p>YouTube is a video sharing platform allowing user to upload, view, share, add to playlist, comment.</p>
            <a class="zubuz-iconbox-btn" href=""> <span>Read more</span> <img src="assets/images/icon/arrow-right2.svg" alt=""></a>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->



{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
