
{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 


<div class="section zubuz-extra-section">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>Reset Password</h2>
    </div>
    <div class="zubuz-account-wrap">
      <form action="#">
        <div class="zubuz-account-field">
          <label>Enter email address</label>
          <input type="email" placeholder="example@gmail.com">
        </div>
        <div class="zubuz-account-field">
          <label>Enter Password</label>
          <input type="password" placeholder="Enter Password">
        </div>
        <button id="zubuz-account-btn" type="submit"><span>Change password</span></button>
        <div class="zubuz-account-bottom m-0">
          <p>If you didn’t request a password recovery link, please ignore this.</p>
        </div>
      </form>
    </div>
  </div>
</div>

  
{% endblock %}
