
{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 


<div class="section zubuz-extra-section">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>Welcome Back</h2>
    </div>
    <div class="zubuz-account-wrap">
      <form action="#">
        <div class="zubuz-account-field">
          <label>Enter email address</label>
          <input type="email" placeholder="example@gmail.com">
        </div>
        <div class="zubuz-account-field">
          <label>Enter Password</label>
          <input type="password" placeholder="Enter Password">
        </div>
        <div class="zubuz-account-checkbox-wrap">
          <div class="zubuz-account-checkbox">
            <input type="checkbox" id="check">
            <label for="check">Remember me</label>
          </div>
          <a class="forgot-password" href="reset-password.html">Forgot password?</a>
        </div>
        <button id="zubuz-account-btn" type="submit"><span>Sign in</span></button>
        <div class="zubuz-or">
          <p>or</p>
        </div>
        <a href="#" class="zubuz-connect-login">
          <img src="assets/images/icon/google.svg" alt="">
          Sign up with Google
        </a>
        <a href="#" class="zubuz-connect-login">
          <img src="assets/images/icon/facebook.svg" alt="">
          Sign up with Facebook
        </a>

        <div class="zubuz-account-bottom">
          <p>Not a member yet? <a href="sign-up.html">Sign up here</a></p>
        </div>
      </form>
    </div>
  </div>
</div>

  
{% endblock %}
