{% extends "layout/layout.html" %}
{% set page_title = "Our Team" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="zubuz-breadcrumb">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section zubuz-section-padding3">
  <div class="container">
    <div class="zubuz-section-title zubuz-two-column-title">
      <div class="row">
        <div class="col-lg-6">
            <h2>We’ve a team of creatives</h2>
        </div>
        <div class="col-lg-5 offset-lg-1 d-flex align-items-center">
          <p>Our team consists of a group of talents. We solve customer problems with sincerity. All of our team members are very intelligent and skilled.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-team-wrap">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team1.png" alt="">
            <div class="zubuz-team-data">
              <a href="single-team.html"><h4>Mr. Abraham Maslow</h4></a>
              <p>CEO & Founder</p>
              <div class="zubuz-social-icon social-box small-box position">
                <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="fab fa-linkedin"></i>                    
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-team-wrap">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team2.png" alt="">
            <div class="zubuz-team-data">
              <a href="single-team.html"><h4>William Robert</h4></a>
              <p>VP of Marketing</p>
              <div class="zubuz-social-icon social-box small-box position">
                <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="fab fa-linkedin"></i>                    
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-team-wrap">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team3.png" alt="">
            <div class="zubuz-team-data">
              <a href="single-team.html"><h4>Henry Fayol</h4></a>
              <p>WP Developer</p>
              <div class="zubuz-social-icon social-box small-box position">
                <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="fab fa-linkedin"></i>                    
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-team-wrap">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team4.png" alt="">
            <div class="zubuz-team-data">
              <a href="single-team.html"><h4>Henry Martine</h4></a>
              <p>UI/UX Designer</p>
              <div class="zubuz-social-icon social-box small-box position">
                <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="fab fa-linkedin"></i>                    
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-team-wrap">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team5.png" alt="">
            <div class="zubuz-team-data">
              <a href="single-team.html"><h4>Jack Fox</h4></a>
              <p>Product Designer</p>
              <div class="zubuz-social-icon social-box small-box position">
                <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="fab fa-linkedin"></i>                    
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="zubuz-team-wrap">
          <div class="zubuz-team-thumb">
            <img src="assets/images/team/team6.png" alt="">
            <div class="zubuz-team-data">
              <a href="single-team.html"><h4>Adam Smith</h4></a>
              <p>Content Writer</p>
              <div class="zubuz-social-icon social-box small-box position">
                <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="fab fa-linkedin"></i>                    
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="section zubuz-section-padding dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="zubuz-default-content cta light">
          <h2>You want to join our amazing team</h2>
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-center">
          <div class="zubuz-title-btn">
            <a class="zubuz-default-btn" href="single-team.html">
              <span>Join Our Team</span>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->

{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
