.zubuz-team{
  &-wrap{
    margin-bottom: 24px;
  }
  &-thumb{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  &-data{
    left: 20px;
    bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    width: calc(100% - 40px);
    position: absolute;
    background-color: var(--white-bg);
    h4{
      margin-bottom: 10px;
    }
    p{
      margin: 0;
      font-size: 18px;
    }
  }
}

.zubuz-social-icon.social-box.small-box.position {
  position: absolute;
  bottom: 20px;
  right: 20px;
}