<!-- Footer  -->

<footer class="zubuz-footer-section dark-bg">
  <div class="container">
    <div class="zubuz-footer-extra-top">
      <div class="row">
        <div class="col-lg-7">
          <div class="zubuz-footer-extra-title">
            <h2>Take your startup to the next level</h2>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
          <div class="zubuz-footer-btn">
            <a class="zubuz-default-btn pill" href="contact-us.html"><span>Get started now</span></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="zubuz-footer-top">
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="zubuz-footer-textarea light">
            <a href="">
              <img src="assets/images/logo/logo-white.svg" alt="">
            </a>
            <p>We're your innovation partner, delivering cutting-edge solutions that elevate your business to the next level.</p>
            <div class="zubuz-social-icon social-box social-box-white">
              <ul>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://facebook.com/" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin"></i>                    
                  </a>
                </li>
                <li>
                  <a href="https://github.com/" target="_blank">
                    <i class="fab fa-github"></i>                     
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="zubuz-footer-menu light extar-margin">
            <div class="zubuz-footer-title light">
              <p>Navigation</p>
            </div>
            <ul>
              <li><a href="">Demos</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Pages</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="zubuz-footer-menu light">
            <div class="zubuz-footer-title light">
              <p>Utility pages</p>
            </div>
            <ul>
              <li><a href="">Instructions</a></li>
              <li><a href="">Style guide</a></li>
              <li><a href="">Licenses</a></li>
              <li><a href="">404 Not found</a></li>
              <li><a href="">Password protected</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="zubuz-footer-menu light info extar-margin">
            <div class="zubuz-footer-title light">
              <p>Contact us</p>
            </div>
            <ul>
              <li><a href=""><img src="assets/images/icon/call.svg" alt="">+088-234-6849</a></li>
              <li><a href=""><img src="assets/images/icon/email.svg" alt="">example@gmail.com</a></li>
              <li><a href=""><img src="assets/images/icon/map.svg" alt="">Howard Street, 13125 USA</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="zubuz-footer-bottom center light">
      <div class="zubuz-copywright light">
        <p> &copy;Copyright 2024, All Rights Reserved by Mthemeus</p>
      </div>
    </div>
  </div>
</footer>