<footer class="zubuz-footer-section">
  <div class="container">
    <div class="zubuz-footer-top2">
      <a href=""><img src="assets/images/v3/logo-large.svg" alt=""></a>
    </div>
    <div class="zubuz-footer-bottom three">
      <div class="row">
        <div class="col-xl-6">
          <div class="zubuz-copywright three">
            <p>&copy;Copyright 2023, All Rights Reserved by Mthemeus</p>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="zubuz-footer-menu2">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Projects</a></li>
              <li><a href="">Pages</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>